@import url('https://fonts.cdnfonts.com/css/montserrat');


table,
tr,
td,
th {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid;
}
td,
th {
  width: 6ch;
  font-size: xx-large;
  font-family: "Montserrat";
  text-align: center;
}
