
@import url('https://fonts.cdnfonts.com/css/montserrat');

.gainsboro {
  color: #0a0000;
}

.green {
  color: green;
}

.title-color {
  color: #bf811d;
}

table {
  font-size: xx-large;
  font-family: "Montserrat";
}
td {
  padding-right: 10px;
}
.rank-space {
  width: 3ch;
}
.user-space {
  color: #fff;
  width: 24ch;
  font-weight: bold;
}
